# Biological signals exploration

This notebook is about the exploration of the biosignals. We need urine level, creatine level (and evolution), as well as other stuff like dialysis.

In [17]:
import psycopg2
import pandas as pd

In [65]:
# create a database connection
sqluser = 'mimicuser'
sqlpassword = 'mimicpass'
dbname = 'mimic'
schema_name = 'mimiciii'

# Connect to local postgres version of mimic
con = psycopg2.connect(dbname=dbname, host='localhost', user=sqluser, password=sqlpassword)
cur = con.cursor()
cur.execute('SET search_path to {}'.format(schema_name))

In [42]:
query = \
"""
SELECT * FROM d_items WHERE label ~* '.*urine.*' AND linksto='outputevents';
"""

urine_items = pd.read_sql_query(query,con)
print(urine_items.row_id.count())
urine_items.head()

107

,row_id,itemid,label,abbreviation,dbsource,linksto,category,unitname,param_type,conceptid
0,5612,40405,Urine Out Other,None,carevue,outputevents,None,None,None,None
1,5629,40428,Urine Out Straight Cath,None,carevue,outputevents,None,None,None,None
2,5706,40534,urine flush,None,carevue,outputevents,Free Form Intake,None,None,None
3,6503,41857,urine out in er,None,carevue,outputevents,None,None,None,None
4,6607,42001,ER URINE,None,carevue,outputevents,None,None,None,None

In [28]:
query = \
"""
DROP MATERIALIZED VIEW IF EXISTS urineoutput CASCADE;
CREATE MATERIALIZED VIEW urineoutput as
select oe.icustay_id, oe.charttime
, SUM(
    -- we consider input of GU irrigant as a negative volume
    case when oe.itemid = 227488 then -1*value
    else value end
  ) as value
from outputevents oe
where oe.itemid in
(
  -- these are the most frequently occurring urine output observations in CareVue
  40055, -- "Urine Out Foley"
  43175, -- "Urine ."
  40069, -- "Urine Out Void"
  40094, -- "Urine Out Condom Cath"
  40715, -- "Urine Out Suprapubic"
  40473, -- "Urine Out IleoConduit"
  40085, -- "Urine Out Incontinent"
  40057, -- "Urine Out Rt Nephrostomy"
  40056, -- "Urine Out Lt Nephrostomy"
  40405, -- "Urine Out Other"
  40428, -- "Urine Out Straight Cath"
  40086,--	Urine Out Incontinent
  40096, -- "Urine Out Ureteral Stent #1"
  40651, -- "Urine Out Ureteral Stent #2"

  -- these are the most frequently occurring urine output observations in MetaVision
  226559, -- "Foley"
  226560, -- "Void"
  226561, -- "Condom Cath"
  226584, -- "Ileoconduit"
  226563, -- "Suprapubic"
  226564, -- "R Nephrostomy"
  226565, -- "L Nephrostomy"
  226567, --	Straight Cath
  226557, -- R Ureteral Stent
  226558, -- L Ureteral Stent
  227488, -- GU Irrigant Volume In
  227489  -- GU Irrigant/Urine Volume Out
)
and oe.value < 5000 -- sanity check on urine value
and oe.icustay_id is not null
group by icustay_id, charttime;

SELECT * FROM urineoutput;
"""

urine = pd.read_sql_query(query,con)
urine.head()

   icustay_id           charttime  value
0      200001 2181-11-25 22:02:00  250.0
1      200001 2181-11-26 20:47:00   60.0
2      200001 2181-11-28 09:35:00   50.0
3      200003 2199-08-02 20:15:00  230.0
4      200003 2199-08-02 22:00:00    0.0

In [39]:
urine[urine.icustay_id==200003].head(30)

    icustay_id           charttime  value
3       200003 2199-08-02 20:15:00  230.0
4       200003 2199-08-02 22:00:00    0.0
5       200003 2199-08-02 23:00:00   90.0
6       200003 2199-08-03 00:00:00   37.0
7       200003 2199-08-03 01:00:00  220.0
8       200003 2199-08-03 02:00:00  120.0
9       200003 2199-08-03 03:00:00  275.0
10      200003 2199-08-03 03:15:00  300.0
11      200003 2199-08-03 03:45:00  360.0
12      200003 2199-08-03 04:00:00  320.0
13      200003 2199-08-03 05:00:00  280.0
14      200003 2199-08-03 06:00:00   70.0
15      200003 2199-08-03 08:00:00  230.0
16      200003 2199-08-03 09:00:00  250.0
17      200003 2199-08-03 10:00:00  140.0
18      200003 2199-08-03 11:00:00   80.0
19      200003 2199-08-03 12:00:00  110.0
20      200003 2199-08-03 13:00:00  130.0
21      200003 2199-08-03 14:00:00  110.0
22      200003 2199-08-03 15:00:00   80.0
23      200003 2199-08-03 19:00:00  220.0
24      200003 2199-08-03 20:00:00   80.0
25      200003 2199-08-03 21:00:00   45.0
26      200003 2199-08-03 22:00:00   50.0
27      200003 2199-08-03 23:00:00   50.0
28      200003 2199-08-04 00:00:00   45.0
29      200003 2199-08-04 01:00:00   60.0
30      200003 2199-08-04 03:00:00  130.0
31      200003 2199-08-04 04:00:00   45.0
32      200003 2199-08-04 05:00:00   40.0

In [76]:
query=\
"""
SELECT * FROM d_labitems WHERE itemid = 50912;
"""
    
creatine_labitems =pd.read_sql_query(query,con)
print(creatine_labitems.row_id.count())
creatine_labitems.head(8)

1

   row_id  itemid       label  fluid   category loinc_code
0     113   50912  Creatinine  Blood  Chemistry     2160-0

In [78]:
query=\
"""
SELECT * FROM labevents WHERE itemid=50912;
"""

creatinine_lab = pd.read_sql_query(query, con)
creatinine_lab.head(100)

,row_id,subject_id,hadm_id,itemid,charttime,value,valuenum,valueuom,flag
0,296,3,NaN,50912,2101-10-13 03:00:00,1.7,1.7,mg/dL,abnormal
1,309,3,NaN,50912,2101-10-13 15:47:00,1.5,1.5,mg/dL,abnormal
2,323,3,NaN,50912,2101-10-14 03:00:00,1.4,1.4,mg/dL,abnormal
3,367,3,NaN,50912,2101-10-15 03:30:00,1.6,1.6,mg/dL,abnormal
4,387,3,NaN,50912,2101-10-15 12:15:00,1.5,1.5,mg/dL,abnormal
5,401,3,NaN,50912,2101-10-16 04:00:00,1.4,1.4,mg/dL,abnormal
6,447,3,145834.0,50912,2101-10-20 16:40:00,3.2,3.2,mg/dL,abnormal
7,937,3,145834.0,50912,2101-10-22 04:00:00,1.9,1.9,mg/dL,abnormal
8,1053,3,145834.0,50912,2101-10-22 21:15:00,1.7,1.7,mg/dL,abnormal
9,1108,3,145834.0,50912,2101-10-23 03:45:00,1.6,1.6,mg/dL,abnormal
10,558,3,145834.0,50912,2101-10-20 19:59:00,2.5,2.5,mg/dL,abnormal
11,527,3,145834.0,50912,2101-10-20 19:26:00,2.4,2.4,mg/dL,abnormal
12,51,3,NaN,50912,2101-10-04 15:24:00,1.7,1.7,mg/dL,abnormal
13,81,3,NaN,50912,2101-10-05 06:00:00,1.6,1.6,mg/dL,abnormal
14,103,3,NaN,50912,2101-10-06 05:45:00,1.8,1.8,mg/dL,abnormal
15,120,3,NaN,50912,2101-10-07 04:30:00,1.8,1.8,mg/dL,abnormal
16,138,3,NaN,50912,2101-10-11 19:10:00,2.1,2.1,mg/dL,abnormal
17,175,3,NaN,50912,2101-10-12 04:40:00,2.0,2.0,mg/dL,abnormal
18,270,3,NaN,50912,2101-10-12 15:45:00,1.7,1.7,mg/dL,abnormal
19,2300,4,NaN,50912,2191-04-22 16:15:00,0.4,0.4,mg/dL,None
20,2340,4,NaN,50912,2191-04-27 12:55:00,0.4,0.4,mg/dL,None
21,2378,4,NaN,50912,2191-05-16 16:15:00,0.8,0.8,mg/dL,None
22,2429,4,NaN,50912,2191-05-17 07:40:00,0.6,0.6,mg/dL,None
23,2487,4,NaN,50912,2191-05-18 08:05:00,0.5,0.5,mg/dL,None
24,2523,4,NaN,50912,2191-05-19 04:05:00,0.5,0.5,mg/dL,None
25,2560,4,NaN,50912,2191-05-20 03:55:00,0.6,0.6,mg/dL,None
26,2581,4,NaN,50912,2191-05-21 05:37:00,0.7,0.7,mg/dL,None
27,2611,4,NaN,50912,2191-05-22 09:00:00,0.8,0.8,mg/dL,None
28,2639,4,NaN,50912,2191-05-23 07:10:00,0.8,0.8,mg/dL,None
29,646,3,145834.0,50912,2101-10-21 03:00:00,2.5,2.5,mg/dL,abnormal
...,...,...,...,...,...,...,...,...,...
70,3367,4,NaN,50912,2192-02-03 13:30:00,0.7,0.7,mg/dL,None
71,2668,4,NaN,50912,2191-05-24 06:20:00,0.7,0.7,mg/dL,None
72,2693,4,NaN,50912,2191-05-25 10:50:00,0.7,0.7,mg/dL,None
73,2713,4,NaN,50912,2191-05-26 07:15:00,0.8,0.8,mg/dL,None
74,2749,4,NaN,50912,2191-05-27 07:05:00,0.7,0.7,mg/dL,None
75,2774,4,NaN,50912,2191-05-28 04:55:00,0.7,0.7,mg/dL,None
76,2801,4,NaN,50912,2191-05-29 05:00:00,0.7,0.7,mg/dL,None
77,2842,4,NaN,50912,2191-05-30 07:20:00,0.8,0.8,mg/dL,None
78,2878,4,NaN,50912,2191-05-31 07:30:00,1.0,1.0,mg/dL,None
79,2903,4,NaN,50912,2191-06-01 07:20:00,1.1,1.1,mg/dL,None
80,2934,4,NaN,50912,2191-06-02 07:15:00,1.2,1.2,mg/dL,abnormal
81,2960,4,NaN,50912,2191-06-03 03:00:00,1.2,1.2,mg/dL,abnormal
82,2987,4,NaN,50912,2191-06-04 04:40:00,1.2,1.2,mg/dL,abnormal
83,3015,4,NaN,50912,2191-06-04 08:30:00,1.4,1.4,mg/dL,abnormal
84,3050,4,NaN,50912,2191-06-05 06:30:00,1.3,1.3,mg/dL,abnormal
85,3076,4,NaN,50912,2191-06-06 07:10:00,1.3,1.3,mg/dL,abnormal
86,3108,4,NaN,50912,2191-06-15 12:10:00,1.0,1.0,mg/dL,None
87,3133,4,NaN,50912,2191-06-23 12:40:00,1.2,1.2,mg/dL,abnormal
88,3160,4,NaN,50912,2191-06-28 11:20:00,1.1,1.1,mg/dL,None
89,3181,4,NaN,50912,2191-07-13 12:30:00,1.0,1.0,mg/dL,None
90,3215,4,NaN,50912,2191-07-26 11:35:00,0.8,0.8,mg/dL,None
91,3770,6,107064.0,50912,2175-06-06 05:00:00,3.5,3.5,mg/dL,abnormal
92,4541,6,NaN,50912,2175-10-03 08:40:00,0.7,0.7,mg/dL,None
93,4597,6,NaN,50912,2175-11-27 09:15:00,0.8,0.8,mg/dL,None
94,3813,6,107064.0,50912,2175-06-07 05:00:00,2.5,2.5,mg/dL,abnormal
95,3836,6,107064.0,50912,2175-06-08 05:00:00,1.8,1.8,mg/dL,abnormal
96,3857,6,107064.0,50912,2175-06-09 05:48:00,1.3,1.3,mg/dL,abnormal
97,3880,6,107064.0,50912,2175-06-10 05:00:00,1.0,1.0,mg/dL,None
98,3904,6,107064.0,50912,2175-06-11 04:58:00,0.9,0.9,mg/dL,None
99,3929,6,107064.0,50912,2175-06-12 04:54:00,1.0,1.0,mg/dL,None

In [79]:
query=\
"""
SELECT * FROM d_items WHERE label ~* '.*creatinine.*';
"""
    
creatine_items =pd.read_sql_query(query,con)
print(creatine_items.row_id.count())
creatine_items.head(8)

8

,row_id,itemid,label,abbreviation,dbsource,linksto,category,unitname,param_type,conceptid
0,710,791,Creatinine (0-1.3),None,carevue,chartevents,Chemistry,None,None,None
1,1914,5811,urine creatinine,None,carevue,chartevents,None,None,None,None
2,2871,3750,Creatinine (0-0.7),None,carevue,chartevents,Chemistry,None,None,None
3,2977,1525,Creatinine,None,carevue,chartevents,Chemistry,None,None,None
4,14682,227005,Creatinine_ApacheIV,Creatinine_ApacheIV,metavision,chartevents,Scores - APACHE IV (2),None,Numeric,None
5,12698,220615,Creatinine,Creatinine,metavision,chartevents,Labs,None,Numeric,None
6,14512,226751,CreatinineApacheIIScore,CreatinineApacheIIScore,metavision,chartevents,Scores - APACHE II,None,Numeric,None
7,14513,226752,CreatinineApacheIIValue,CreatinineApacheIIValue,metavision,chartevents,Scores - APACHE II,None,Numeric,None

In [80]:
query=\
"""
SELECT * FROM d_items WHERE label ~* '.*dialysis.*';
"""
    
dialysis_items = pd.read_sql_query(query,con)
print(dialysis_items.row_id.count())
dialysis_items.head(100)

99

,row_id,itemid,label,abbreviation,dbsource,linksto,category,unitname,param_type,conceptid
0,149,148,Dialysis Access Site,None,carevue,chartevents,None,None,None,None
1,150,149,Dialysis Access Type,None,carevue,chartevents,None,None,None,None
2,151,150,Dialysis Machine,None,carevue,chartevents,None,None,None,None
3,152,151,Dialysis Site Appear,None,carevue,chartevents,None,None,None,None
4,153,152,Dialysis Type,None,carevue,chartevents,None,None,None,None
5,5628,40425,dialysis output,None,carevue,outputevents,None,None,None,None
6,5681,40507,Dialysis out,None,carevue,outputevents,None,None,None,None
7,6122,41527,HEMODIALYSIS,None,carevue,outputevents,None,None,None,None
8,6964,41250,HEMODIALYSIS OUT,None,carevue,outputevents,None,None,None,None
9,7065,41374,Dialysis Out,None,carevue,outputevents,None,None,None,None
10,7095,41417,Hemodialysis Out,None,carevue,outputevents,None,None,None,None
11,6678,40881,Hemodialysis,None,carevue,outputevents,None,None,None,None
12,6697,40910,PERITONEAL DIALYSIS,None,carevue,outputevents,None,None,None,None
13,6781,41016,hemodialysis out,None,carevue,outputevents,None,None,None,None
14,6799,41034,dialysis in,None,carevue,outputevents,Free Form Intake,None,None,None
15,7501,42289,dialysis off,None,carevue,outputevents,None,None,None,None
16,7565,42388,DIALYSIS OUTPUT,None,carevue,outputevents,None,None,None,None
17,7667,42524,HemoDialysis,None,carevue,outputevents,None,None,None,None
18,7674,42536,Dialysis output,None,carevue,outputevents,None,None,None,None
19,5593,40386,hemodialysis,None,carevue,outputevents,None,None,None,None
20,6198,41635,Hemodialysis removal,None,carevue,outputevents,None,None,None,None
21,6351,41842,Dialysis Output.,None,carevue,outputevents,None,None,None,None
22,5778,40624,dialysis,None,carevue,outputevents,None,None,None,None
23,5829,40690,DIALYSIS,None,carevue,outputevents,None,None,None,None
24,6095,41500,hemodialysis output,None,carevue,outputevents,None,None,None,None
25,8980,43941,dialysis/intake,None,carevue,outputevents,Free Form Intake,None,None,None
26,9175,44199,HEMODIALYSIS O/P,None,carevue,outputevents,None,None,None,None
27,8422,44901,Dialysis Removed,None,carevue,outputevents,None,None,None,None
28,7963,42928,HEMODIALYSIS.,None,carevue,outputevents,None,None,None,None
29,7993,42972,HEMODIALYSIS OFF,None,carevue,outputevents,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
69,13986,225803,Dialysis - CVVHD,Dialysis - CVVHD,metavision,procedureevents_mv,Dialysis,None,Process,None
70,13987,225805,Peritoneal Dialysis,Peritoneal Dialysis,metavision,procedureevents_mv,Dialysis,None,Process,None
71,13990,225809,Dialysis - CVVHDF,Dialysis - CVVHDF,metavision,procedureevents_mv,Dialysis,None,Process,None
72,13991,225810,Dwell Time (Peritoneal Dialysis),Dwell Time (Hours),metavision,chartevents,Dialysis,hour,Numeric,None
73,14202,225776,Dialysis Catheter Dressing Type,Dialysis Catheter Dressing Type,metavision,chartevents,Access Lines - Invasive,None,Text,None
74,14213,225959,Medication Added Amount #1 (Peritoneal Dialysis),Medication Added Amount #1 (PD),metavision,chartevents,Dialysis,None,Numeric,None
75,14214,225961,Medication Added Units #1 (Peritoneal Dialysis),Medication Added Units #1 (PD),metavision,chartevents,Dialysis,None,Text,None
76,14215,225963,Peritoneal Dialysis Catheter Type,PD Catheter Type,metavision,chartevents,Dialysis,None,Text,None
77,14216,225965,Peritoneal Dialysis Catheter Status,PD Catheter Status,metavision,chartevents,Dialysis,None,Text,None
78,12275,70029,DIALYSIS FLUID,None,hospital,microbiologyevents,SPECIMEN,None,None,None
79,14152,225725,Dialysis Catheter Tip Cultured,Dialysis Catheter Tip Cultured,metavision,chartevents,Access Lines - Invasive,None,Checkbox,None
80,14167,225740,Dialysis Catheter Discontinued,Dialysis Catheter Discontinued,metavision,chartevents,Access Lines - Invasive,None,Text,None
81,14980,227638,Medication Added #2 (Peritoneal Dialysis),Medication Added #2 (PD),metavision,chartevents,Dialysis,None,Text,None
82,14981,227639,Medication Added Amount #2 (Peritoneal Dialysis),Medication Added Amount #2 (PD),metavision,chartevents,Dialysis,None,Numeric,None
83,14982,227640,Medication Added Units #2 (Peritoneal Dialysis),Medication Added Units #2 (PD),metavision,chartevents,Dialysis,None,Text,None
84,14256,226118,Dialysis Catheter placed in outside facility,Dialysis Cath placed in outside facility,metavision,chartevents,Access Lines - Invasive,None,Checkbox,None
85,14381,225951,Peritoneal Dialysis Fluid Appearance,PD Fluid Appearance,metavision,chartevents,Dialysis,None,Text,None
86,14382,225952,Medication Added #1 (Peritoneal Dialysis),Medication Added #1 (PD),metavision,chartevents,Dialysis,None,Text,None
87,14383,225953,Solution (Peritoneal Dialysis),Solution (PD),metavision,chartevents,Dialysis,None,Text,None
88,14384,225954,Dialysis Access Type,Dialysis Access Type,metavision,chartevents,Dialysis,None,Text,None
89,14385,225955,Dialysis - SCUF,Dialysis - SCUF,metavision,procedureevents_mv,Dialysis,None,Process,None
90,14389,226499,Hemodialysis Output,Hemodialysis Output,metavision,chartevents,Dialysis,mL,Numeric,None
91,13740,225126,Dialysis patient,Dialysis patient,metavision,chartevents,Adm History/FHPA,None,Checkbox,None
92,13741,225128,Last dialysis,Last dialysis,metavision,datetimeevents,Adm History/FHPA,None,Date time,None
93,13694,225318,Dialysis Catheter Cap Change,Dialysis Catheter Cap Change,metavision,datetimeevents,Access Lines - Invasive,None,Date time,None
94,13695,225319,Dialysis Catheter Change over Wire Date,Dialysis Catheter Change over Wire Date,metavision,datetimeevents,Access Lines - Invasive,None,Date time,None
95,13696,225321,Dialysis Catheter Dressing Change,Dialysis Catheter Dressing Change,metavision,datetimeevents,Access Lines - Invasive,None,Date time,None
96,13697,225322,Dialysis Catheter Insertion Date,Dialysis Catheter Insertion Date,metavision,datetimeevents,Access Lines - Invasive,None,Date time,None
97,13698,225323,Dialysis Catheter Site Appear,Dialysis Catheter Site Appear,metavision,chartevents,Access Lines - Invasive,None,Text,None
98,13699,225324,Dialysis CatheterTubing Change,Dialysis Catheter Tubing Change,metavision,datetimeevents,Access Lines - Invasive,None,Date time,None

In [68]:
query=\
"""
SELECT * FROM chartevents WHERE itemid=152;
"""

dialysis = pd.read_sql_query(query, con)
dialysis.value.value_counts()

CVVHD         50805
CVVH           8777
Peritoneal      206
Name: value, dtype: int64